<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (locals.success) { %>
        <h1>saved successfully</h1>
    <% } else { %>
        <h1>Error saving document</h1>
    <% } %>

    <button><a href="/create-quiz">Create another quiz</a></button>
    <button><a href="/">Return to home</a></button>
</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/submit-quiz" method="post">
        <div>
            <label for="question">Question</label>
            <textarea name="question" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="answer">Answer</label>
            <input type="text" name="answer" />
        </div>
        <div>
            <label for="option1">Option 1</label>
            <input type="text" name="option1" />
        </div>
        <div>
            <label for="option2">Option 2</label>
            <input type="text" name="option2" />
        </div>
        <div>
            <label for="option3">Option 3</label>
            <input type="text" name="option3" />
        </div>

        <input type="submit" value="Submit">
    </form>
</body>

</html>