<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (locals.success) { %>
        <h1>saved successfully</h1>
    <% } else { %>
        <h1>Error saving document</h1>
    <% } %>

    <button><a href="/create-quiz">Create another quiz</a></button>
    <button><a href="/">Return to home</a></button>
</body>

</html>